In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
cities_file=os.path.join('.','resources','cities.csv')
cities_file

'.\\resources\\cities.csv'

In [5]:
file_cities=pd.read_csv(cities_file)

cities_df=pd.DataFrame(file_cities)

cities_df=cities_df[["City_ID", "City", "Country", "Lat", "Max Temp", "Cloudiness", "Wind Speed", "Humidity"]]

cities_df.head()

,City_ID,City,Country,Lat,Max Temp,Cloudiness,Wind Speed,Humidity
0,0,kapaa,US,22.0752,26.99,40,6.17,77
1,1,barrow,US,71.2906,-5.99,100,5.14,86
2,2,busselton,AU,-33.6500,13.33,84,4.85,68
3,3,mar del plata,AR,-38.0023,16.08,0,6.17,59
4,4,vaini,TO,-21.2000,23.09,20,2.57,88

In [6]:
cities_df.to_html('./resources/cities.html', index=False)